@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: exo-300;
    src: url('/fonts/Exo-Light.ttf');
}
@font-face {
    font-family: exo-400;
    src: url('/fonts/Exo-Regular.ttf');
}
@font-face {
    font-family: exo-600;
    src: url('/fonts/Exo-SemiBold.ttf');
}
@font-face {
    font-family: exo-700;
    src: url('/fonts/Exo-Bold.ttf');
}
@font-face {
    font-family: inter-300;
    src: url('/fonts/Inter-Light.ttf');
}
@font-face {
    font-family: inter-400;
    src: url('/fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: inter-700;
    src: url('/fonts/Inter-Bold.ttf');
}
@font-face {
    font-family: opensans-600;
    src: url('/fonts/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: opensans-800;
    src: url('/fonts/OpenSans-ExtraBold.ttf');
}

h1{
    font-family: exo-700;
    font-size: 32px;
    color: #ffffff;
}

.main-input{
    border: 1px solid #8390A3;
    border-radius: 4px;
    height: 43px;
    padding: 10px;
}
.main-input:focus, .main-input:focus-visible{
    border: 3px solid #8390A3;
    outline: 0;
}
/* Show Password */
.show-icon{
    position: absolute;
    right: 12px;
    top: auto;
    bottom: 22px;
}
.filter-btn {
    width: fit-content;
    display: block;
    color: #525F7F;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'opensans-600';
    white-space: nowrap;
}
.filter-btn img{
    display: inline;
}